@charset "UTF-8";
/* line 3, /Users/tylersloan/Projects/sugar-app/css/main.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, /Users/tylersloan/Projects/sugar-app/css/main.scss */
body {
  background: #b5664c;
  font-family: Domine,serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  color: white;
}

/* line 22, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.right {
  float: right;
}

/* line 24, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.visually-hidden {
  display: none;
}

/* line 25, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.height-zero {
  height: 0;
}

/* line 27, /Users/tylersloan/Projects/sugar-app/css/main.scss */
a,
a:visited {
  text-decoration: none;
  color: #607482;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  transition: 200ms all linear;
}
/* line 37, /Users/tylersloan/Projects/sugar-app/css/main.scss */
h1 a, h1
a:visited {
  color: #a66049;
}

/* line 42, /Users/tylersloan/Projects/sugar-app/css/main.scss */
a:focus, a:hover, a:visited:focus, a:visited:hover {
  color: #37434b;
}

/* line 44, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.transition-all {
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  transition: 200ms all linear;
}

/* line 52, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: space-around;
  align-content: space-around;
}

/* line 66, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container .whole {
  -webkit-flex: 100 0 0;
  flex: 10 0 0;
}

/* line 71, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container .ten {
  -webkit-flex: 10 0 0;
  flex: 10 0 0;
}

/* line 76, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container .twenty {
  -webkit-flex: 20 0 0;
  flex: 20 0 0;
}

/* line 81, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container .fifty {
  -webkit-flex: 50 0 0;
  flex: 50 0 0;
}

/* line 86, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container .eighty {
  -webkit-flex: 80 0 0;
  flex: 80 0 0;
}

/* line 91, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.flex-container input {
  width: auto;
}

/* line 93, /Users/tylersloan/Projects/sugar-app/css/main.scss */
h1, h3 {
  font-weight: 400;
}

/* line 95, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1, h1 {
  padding: .5em 0 0 0;
  font-size: 3em;
  font-family: Oswald,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4c4c4c;
}

/* line 106, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1 {
  font-size: 2em;
  padding: 1em 0;
  background: 0 0;
}
/* line 112, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1.button {
  position: relative;
  width: 90%;
  max-width: 280px;
  background: white;
  border: 0;
  margin: 0 auto 2em auto;
  padding: .5em 0.5em;
  font-size: 1.375em;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  cursor: pointer;
}
/* line 125, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1.button a {
  color: #4c4c4c;
}
/* line 129, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1.button .arrow-down {
  width: 50px;
  height: 59px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translate3d(-25px, 45px, 0);
  transform: translate3d(-25px, 45px, 0);
}
/* line 138, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1.button .arrow-down path {
  fill: white;
}
/* line 144, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h1.button:hover .arrow-down, .h1.button:hover .arrow-down {
  -webkit-transform: translate3d(-25px, 50px, 0);
  transform: translate3d(-25px, 50px, 0);
}

/* line 153, /Users/tylersloan/Projects/sugar-app/css/main.scss */
h3.page-heading {
  padding-left: 5%;
  padding-right: 5%;
}

/* line 159, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h4 {
  width: 90%;
  margin: 0 auto 1.25em auto;
  font-size: 1.375em;
  font-family: Domine,serif;
  font-weight: bold;
  text-align: left;
}
/* line 167, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.h4.page-heading {
  color: white;
}

/* line 170, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.page-heading {
  padding-bottom: 0;
  font-size: 1.375em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: #333333;
}

/* line 179, /Users/tylersloan/Projects/sugar-app/css/main.scss */
p {
  padding: 1em 5% 2em 5%;
  border-bottom: 3px solid;
}

/* line 184, /Users/tylersloan/Projects/sugar-app/css/main.scss */
header {
  background: white;
  text-align: center;
}

/* line 190, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.toggle-menu {
  display: inline-block;
  max-width: 200px;
  width: auto;
  margin: .35em 0 1em;
  padding: .25em .45em;
  cursor: pointer;
}
/* line 198, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.toggle-menu.button {
  border-color: #b5664c;
  color: #b5664c;
}

/* line 204, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.icon.close-nav {
  position: absolute;
  top: .5em;
  right: 5%;
  color: rgba(0, 0, 0, 0.4);
  opacity: .85;
  border-bottom: 0;
  font-size: 1.75em;
  cursor: pointer;
  z-index: 2001;
}

/* line 216, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.icon.close-nav:hover, .icon.close-nav:focus {
  color: white;
}

/* line 218, /Users/tylersloan/Projects/sugar-app/css/main.scss */
ul.nav {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #a66049;
  padding: 2em 5% 4em 5%;
  font-size: 1em;
  text-align: left;
  list-style: none;
  z-index: 2000;
  overflow: scroll;
  transition: 200ms transform linear;
  -webkit-transition: 200ms -webkit-transform linear;
  -webkit-transform: translate3d(0px, -200%, 0);
  transform: translate3d(0px, -200%, 0);
}
/* line 237, /Users/tylersloan/Projects/sugar-app/css/main.scss */
ul.nav.is-visible {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 245, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li {
  position: relative;
  padding: .75em 0;
}
/* line 249, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li:after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* line 260, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav .h1 {
  margin-top: 2em;
  padding: 0;
  text-align: left;
  color: #333333;
  line-height: 0;
}
/* line 268, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav .h4 {
  width: 100%;
  margin: 2em 0 0 0;
  font-family: Oswald,sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

/* line 277, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li:last-child:after,
.nav li:first-child:after,
.nav li ul li:after {
  background: none;
}

/* line 281, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li ul li {
  padding: 0 0 0 5%;
  line-height: 1.4;
  text-indent: 5%;
}
/* line 286, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5%;
  width: 5px;
  height: 1px;
  background: white;
}

/* line 297, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.nav li span {
  margin-right: .5em;
  padding: .25em .25em .25em 0;
  line-height: 0;
  vertical-align: middle;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.45);
  border-right: 3px solid;
}

/* line 307, /Users/tylersloan/Projects/sugar-app/css/main.scss */
footer {
  padding: 0 0 2em 0;
  background: #a66049;
}
/* line 311, /Users/tylersloan/Projects/sugar-app/css/main.scss */
footer section {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
/* line 317, /Users/tylersloan/Projects/sugar-app/css/main.scss */
footer p {
  display: inline-block;
  padding: 0;
  font-size: .8em;
  color: white;
  border-bottom: 0;
}
/* line 325, /Users/tylersloan/Projects/sugar-app/css/main.scss */
footer a, footer a:visited {
  color: #4c4c4c;
}
/* line 328, /Users/tylersloan/Projects/sugar-app/css/main.scss */
footer a:hover, footer a:focus, footer a:visited:hover, footer a:visited:focus {
  color: #191919;
}

/* line 332, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-image: url(../images/sugar-molecule.svg);
  background-repeat: no-repeat;
  background-position: 0 -40px;
  background-size: 120% auto;
}
/* line 28, /Users/tylersloan/Projects/sugar-app/css/variables.scss */
.no-svg .wrapper {
  background-image: url(../images/sugar-molecule.png);
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 28, /Users/tylersloan/Projects/sugar-app/css/variables.scss */
  .no-svg .wrapper {
    background-image: url(../images/sugar-molecule@2x.png);
  }
}
@media screen and (min-width: 767px) {
  /* line 332, /Users/tylersloan/Projects/sugar-app/css/main.scss */
  .wrapper {
    background-position: center top;
    background-size: 95% auto;
  }
}

/* line 347, /Users/tylersloan/Projects/sugar-app/css/main.scss */
section {
  padding-top: 2em;
}

/* line 349, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article {
  padding: 0 5%;
}
/* line 352, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article .page-heading {
  font-family: Oswald,sans-serif;
  padding: 1.25em 0 .25em 0;
}
/* line 357, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article h4.page-heading {
  font-size: 1.1em;
}
/* line 367, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article p, article blockquote {
  padding: 0 0 1em 0;
  border-bottom: 0;
}
/* line 372, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article blockquote {
  padding-bottom: .25em;
  font-size: 1.15em;
  font-family: Oswald,sans-serif;
  font-weight: 300;
}
/* line 379, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article cite {
  display: block;
  padding-bottom: 1em;
  font-size: 70%;
  line-height: 1.2;
}
/* line 386, /Users/tylersloan/Projects/sugar-app/css/main.scss */
article em {
  font-weight: bold;
  font-style: normal;
}

/* line 392, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.options {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1em;
  font-family: Oswald,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 403, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search-container {
  position: relative;
  margin-bottom: .25em;
}
/* line 407, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search-container span.icon-search {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  font-size: 1.7em;
  color: #b5664c;
}

/* line 416, /Users/tylersloan/Projects/sugar-app/css/main.scss */
::-webkit-input-placeholder {
  color: #b5664c;
  font-family: Domine,serif;
}

/* line 417, /Users/tylersloan/Projects/sugar-app/css/main.scss */
:-moz-placeholder {
  color: #b5664c;
  font-family: Domine,serif;
}

/* line 418, /Users/tylersloan/Projects/sugar-app/css/main.scss */
::-moz-placeholder {
  color: #b5664c;
  font-family: Domine,serif;
}

/* line 419, /Users/tylersloan/Projects/sugar-app/css/main.scss */
:-ms-input-placeholder {
  color: #b5664c;
  font-family: Domine,serif;
}

/* line 421, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  padding: .8em .9em;
  font-size: 1em;
  font-family: Domine,serif;
  color: #4c4c4c;
  background: white;
  border: 0;
  line-height: 1.7;
}

/* line 434, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search:focus {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  outline: 0;
}
/* line 438, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search:focus::-webkit-input-placeholder {
  color: #d3a494;
}
/* line 439, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search:focus:-moz-placeholder {
  color: #d3a494;
}
/* line 440, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search:focus::-moz-placeholder {
  color: #d3a494;
}
/* line 441, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.search:focus:-ms-input-placeholder {
  color: #d3a494;
}

/* line 444, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button {
  border: 3px solid #607482;
  color: #fff;
  background: 0 0;
}

/* line 450, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.shadowed {
  box-shadow: 0 0 0px 7px rgba(0, 0, 0, 0.05);
}

/* line 454, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.sort {
  border: 0;
  margin-right: 1em;
}

/* line 459, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.sort:active, .button.sort:focus {
  outline-width: 0;
}

/* line 460, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.sort:after {
  content: "↓";
  opacity: 0;
}

/* line 461, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.sort.desc:after {
  content: "↑";
}

/* line 462, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.sort.asc:after,
.button.sort.desc:after {
  opacity: 1;
  margin-left: .3em;
  font-size: 1.1em;
}

/* line 469, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.add {
  position: absolute;
  top: .5em;
  right: .5em;
  padding: .45em;
  text-align: center;
}

/* line 477, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.add:hover {
  border-color: #45535d;
}

/* line 479, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.button.add img {
  width: 20px;
  line-height: 0;
  float: left;
}

/* line 485, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.add-buttons {
  margin-bottom: 2em;
}

/* line 486, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.add-buttons .button {
  border-top-width: 2px;
  line-height: 3.25;
}

/* line 490, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.add-buttons .button:hover {
  background: #607482;
}

/* line 491, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.add-buttons .button:first-child {
  border-right-width: 1px;
}

/* line 492, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.add-buttons .button:last-child {
  border-left-width: 1px;
}

/* line 493, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.new-sugar-form {
  display: none;
}

/* line 495, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sort-options {
  position: relative;
  display: block;
  margin: 0;
  padding: 1em;
  background: transparent;
}

/* line 503, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sort-options h3 {
  display: inline-block;
}

/* line 505, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sorters {
  height: 0;
  overflow: hidden;
  -webkit-transition: 175ms all ease-in-out;
  transition: 175ms all ease-in-out;
}

/* line 512, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sorters.is-revealed {
  height: 120px;
}

/* line 514, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sort-arrows {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1em;
  width: 1.5em;
  height: 3.7em;
}

/* line 523, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.arrow {
  fill: white;
}

/* line 525, /Users/tylersloan/Projects/sugar-app/css/main.scss */
li {
  line-height: 1.75;
}
/* line 528, /Users/tylersloan/Projects/sugar-app/css/main.scss */
li p {
  padding: 0;
  border-bottom: 0;
}
/* line 533, /Users/tylersloan/Projects/sugar-app/css/main.scss */
li a, li a:visited {
  color: white;
}
/* line 536, /Users/tylersloan/Projects/sugar-app/css/main.scss */
li a:hover, li a:focus, li a:visited:hover, li a:visited:focus {
  color: #e6e6e6;
}
/* line 540, /Users/tylersloan/Projects/sugar-app/css/main.scss */
li a p, li a:visited p {
  display: inline-block;
}

/* line 544, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.swiveler {
  display: inline-block;
  margin-left: 0;
  font-size: 1.7em;
  line-height: 0 !important;
  vertical-align: middle;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  transition: 200ms all linear;
}

/* line 557, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.active .swiveler {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 562, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugar-name {
  position: relative;
}

/* line 571, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugars li {
  padding: 1em;
  background: white;
  border-bottom: 1px solid #b5664c;
  color: #b5664c;
  cursor: pointer;
}
/* line 578, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugars li:last-child {
  border-bottom: 3px solid #b5664c;
}
/* line 580, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugars li:hover, .sugars li:focus, .sugars li.active {
  background: #FEFEFE;
}
/* line 582, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugars li:hover .sugar-name, .sugars li:focus .sugar-name, .sugars li.active .sugar-name {
  color: #834c39;
}
/* line 586, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugars li:hover .swiveler, .sugars li:focus .swiveler, .sugars li.active .swiveler {
  margin-left: 3px;
}

/* line 592, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugar-meta {
  height: 0;
  overflow: hidden;
  line-height: 1.4;
}
/* line 597, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugar-meta.is-visible {
  height: auto;
  margin-top: 1em;
}
/* line 602, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugar-meta p {
  color: #a66049;
}
/* line 605, /Users/tylersloan/Projects/sugar-app/css/main.scss */
.sugar-meta p.gi {
  margin-bottom: .3em;
  padding: 0 0 .5em;
  font-family: Oswald,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.15em;
  color: #4c4c4c;
  border-bottom: 1px solid #b2b2b2;
}

@media screen and (max-width: 800px) {
  /* line 620, /Users/tylersloan/Projects/sugar-app/css/main.scss */
  .nav li a:hover,
  .nav li a:focus {
    color: white;
  }
}
