$red: #b5664c;
$dark-red: #a66049;
$blue: #7991b2;
$light-color: #fff;
$dark-grey: #4c4c4c;

@mixin sans {
  font-family: Oswald,sans-serif;
}

@mixin serif {
  font-family: Domine,serif;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
}

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
  background-image: url(#{$image-path}/#{$name}.svg);
  @if($size){
      background-size: $size;
  }
  .no-svg &{
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}