{% include head.html %}
<header>
  <h1 class="title">
    <a href="/{{ site.baseurl }}">{{ site.name }}</a>
  </h1>
  <div class="toggle-menu button">Menu</div>
  <ul class="nav">
    <p class="icon icon-close close-nav">  </p>
    <li><h3 class="h1">Lists of Sugars</h3></li>
    <li class="close-nav"><a href="/{{ site.baseurl }}#the-list">The Unabridged</a></li>
    <li><a href="{{ site.baseurl }}/ok"><span class="icon-cplus"></span>Sugars with Some Value</a></li>
    <li><a href="{{ site.baseurl }}/plain-whites"><span class="icon-tshirt"></span>Plain White Sugars</a></li>
    <li><a href="{{ site.baseurl }}/substitutes"><span class="icon-sugar-packet"></span>Sugar Substitues (Sweeteners)</a></li>
    <li><a href="{{ site.baseurl }}/chemicals"><span class="icon-br"></span>Sugars that are Chemicals</a></li>
    <li><a href="{{ site.baseurl }}/purpose"><span class="icon-questionmark"></span>/purpose</a></li>
  </ul>
</header>