@font-face {
	font-family: 'sugarapp-icons';
	src:url('fonts/sugarapp-icons.eot?4fkmrf');
	src:url('fonts/sugarapp-icons.eot?#iefix4fkmrf') format('embedded-opentype'),
		url('fonts/sugarapp-icons.woff?4fkmrf') format('woff'),
		url('fonts/sugarapp-icons.ttf?4fkmrf') format('truetype'),
		url('fonts/sugarapp-icons.svg?4fkmrf#sugarapp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sugarapp-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e36e";
}
.icon-github:before {
	content: "\e4ba";
}
.icon-search:before {
	content: "\e1b7";
}
.icon-arrow-right:before {
	content: "\e3b5";
}
.icon-tshirt:before {
	content: "\e600";
}
.icon-cplus:before {
	content: "\e601";
}
.icon-questionmark:before {
	content: "\e602";
}
.icon-br:before {
	content: "\e603";
}
.icon-sugar-packet:before {
	content: "\e604";
}
